* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: hsl(215, 45%, 40%);
  color: white;
  font: 17px/30px 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}
.page { width: 600px; margin: 0 auto; padding: 0 0 0 2px; }
.page_wide { width: 810px; }

.menu { width: 544px; margin: 0 auto 0; padding: 0 0 50px 0; vertical-align: top; }
.menu > li { list-style: none; display: inline-block; margin: 0 1.5em 0 0; vertical-align: top; }
.menu__item, a.menu__item { color: hsl(215, 45%, 67%); border-color: transparent; display: inline-block; }
a.menu__item:hover { color: inherit; border-color: hsl(45,98%,77%); border-width: 2px; }
.menu__item_selected, a.menu__item_selected { color: white; border-bottom: 2px solid hsl(45,98%,77%); }
.menu__item_inside, a.menu__item_inside { border-bottom: 2px solid hsl(215,45%,60%); }

h1, h2 { font: 200 1em 'Fira Sans'; margin: 2.5em 0 0.5em; }
pre, code { font: 0.95em/1.5em 'Fira Mono', monospace; }

.post {
  width: 544px; margin: 15px auto;
}